
<div class="blog_box">
  <div class="container">


  </div>
</div>


<div class="container">

<div class="row">
  <div class="col-md-8">
    
    <% @blogs.each do |blog| %>

      <%= blog.title %>
      <%= blog.body %>
      <%= blog.featured %>
      <%= blog.publish %>
      <%= blog.user_id %>
      <%= link_to 'Show', blog %>
      <%= link_to 'Edit', edit_blog_path(blog) %>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%= link_to 'New Blog', new_blog_path %>


  </div>
  <div class="col-md-4">

    <div class="inventory">
      
    </div>

  </div>
</div>




</div>




<style>
  .custom_navbar {
    box-shadow: none !important;
  }
</style>