<div class="sign_in">
	
	<div class="row">

		<div class="col register" style="background-image: url('https://images.pexels.com/photos/34729/pexels-photo.jpg?cs=srgb&dl=bus-cars-crosswalk-34729.jpg&fm=jpg')">
			<div class="container">
				
			</div>
		</div>

		<div class="col login">
			<div class="container">

				<div class="form_box">
					
					<div class="brand">
						<a href="<%= root_path %>">Sebki</a>
					</div>

					<h6>Forgot your password?</h6>

					<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
						<div class="form-inputs">
							<%#= f.input :email, required: false, autofocus: true %>
							<%#= f.input :password, required: false %>
							
								
							</div>

						
						<div class="form-inputs">
							<%= f.input :email, required: true, autofocus: true %>	
						</div>


						<div class="row">
							<div class="col">
								<%= render "devise/shared/links" %>
							</div>
							<div class="col txt-right">
								<!-- <button class="btn btn-purple btn-lg">Sign In</button> -->
								<%= f.submit "Send me reset password instructions", class:"btn btn-purple btn-lg" %>	
							</div>
						</div>

					<% end %>

				</div>

			</div>
		</div>

	</div>
</div>


<style>
	.custom_navbar {
		display: none
	}

	.footer  {
		display: none
	}
</style>

