<div class="navbar custom_navbar">
  <div class="container">

    <div class="row">

      <div class="col">
        <div class="branding">
          <a href="<%= root_path%>">Sebki</a>
        </div>

        <ul class="nav_links">
          <li><%= link_to "Jobs", root_path %></li>
          <li><%= link_to "Contractors", root_path %></li>
        </ul>
      </div>

      <div class="col">

        <ul class="nav_links text-right">
            <li>
              <%#= link_to'Sign In', sign_in_path  %>
              <a  data-toggle="modal" data-target="#exampleModal"> Sign in</a>
            </li>
            <li><a href="<%= root_path %>"> Sign Up</a></li>

          <%# if user_signed_in? %>


          <label class="dropdown">
            <button class="profile_avatar btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
              <!-- Dropdown button -->
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              
              <a class="dropdown-item" href="<%#= profile_path%>">
                Contractor Profile
              </a>

              <a class="dropdown-item" href="#">
            Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <hr>

              <li cFlass="dropdown-item">
                <%#= link_to'Sign Out', destroy_user_session_path, {:method => :delete}  %>
              </li>
              

            </div>
          </label>

          <%# end %>
          <a href="<%= root_path %>">
            <button  class="btn-purple-nav">
              Post a Job
            </button>

          </a>

        </ul>

      </div>

    </div>

  </div>
</div>


