<!DOCTYPE html>
<html>
  <head>
    <title>Sebki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= render 'home/normal' %>
    <div class="page"><%= yield %></div>

    <p class="notice"><%= notice %></p>

    <% if alert %>
      <div class="alert alert-warning" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <%= render 'home/footer' %>

    
  </body>
</html>
